html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.header {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-color: #8338c9;
    background: linear-gradient(45deg, #c94938, #8338c9);
    color: #fff;
}

.header div {
    font-size: 30px;
    margin: 0px 10px 10px 10px;
}

.info {
    margin: 15px 10% 15px 10%;
    background-color: #eee;
    border-radius: 5px;
    padding: 2%;
    color: #000;
}

.sites .site {
    margin: 10px 10% 20px 10%;
}

.sites .site .name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.sites .site hr {
    width: 100%;
    border-color: #333;
    border-style: solid;
}

.sites .site .visit {
    color: #fff;
    background: linear-gradient(90deg, #50b1ba, #507cba, #50ba8d);
    display: block;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #333;
    margin-top: 5px;
    line-height: 35px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}

.sites .site .visit.a {
    background: linear-gradient(90deg, #50b1ba, #507cba, #50ba8d);
}

.sites .site .visit.b {
    background: linear-gradient(90deg, #ba5050, #ba8550, #ba5085);
}

.sites .site .visit.c {
    background: linear-gradient(90deg, #9350ba, #ba50ac, #50ba88);
}

.contact {
    margin: 20px 10% 20px 10%;
}

.contact .subtitle {
    font-size: 25px;
    text-align: center;
    width: 100%;
    font-style: italic;
}

.contact .button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    width: 100%;
}

.contact .button a {
    flex-grow: 1;
    height: 35px;
    color: #fff;
    text-decoration: none;
}

.contact .button .black {
    background-color: #000;
    border-radius: 5px 0px 0px 5px;
}

.contact .button .red {
    background-color: #dd4b39;
    border-radius: 5px;
    border-radius: 0px 5px 5px 0px;
}

.copy {
    margin: 10px 20% 30px 20%;
    width: 60%;
    text-align: center;
}

.emoji{font-size:inherit;height:3ex;width:3.1ex;min-height:20px;min-width:20px;display:inline-block;margin:-.2ex .15em .2ex;line-height:normal;vertical-align:middle;}
img.emoji{width:auto;}